<%= content_tag :tr, class: "media", id: "bookmark-#{bookmark.url}" do %>
  <td><%= link_to bookmark.url %></td>
  <td><%= link_to "Edit Bookmark", edit_topic_bookmark_path(bookmark.topic, bookmark), class: 'btn btn-success' %></td>
  <td><%= link_to "Delete Bookmark", [bookmark.topic, bookmark], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this bookmark?' } %></td>
<% end %>
