<div class="container">
  <h1>Bookmark Generator</h1>

  <div class="row">
    <div class="col-md-8">
      <p><h3>Pocket saves URL(inks) in a zip!</h3></p>
      <ul>
        <p></p>
        <li>Tired of waisting time pulling up the wrong Paiges?</li>
        <li>Compleatly overall the distress of falling shorts?</li>
        <p><li>Finally, you can Levi the Guess work behind!</li>
          <li>Pocket your finds sew you'll know exactly wear to go.</p></li>
          <li>An app of affirmative denim:
            <p> Pocket is jean yes.</li>
        </ul>
        <%= form_for [@topic, @bookmark], url: topic_bookmarks_path do |f| %>
        <div class="form-group">
          <!-- <%= f.label :url %> -->
          <%= f.text_field :url, class: 'form-control', placeholder: "Hyperlink a new bookmark by pasting URL here." %>

          <div class="form-group">
            <%= f.submit "Save", class:
            "btn btn-success btn-sm" %>

          </div>
          <% end %>
        </div>
