<h1>Bookmark Generator</h1>

<div class="row">
  <div class="col-md-8">
    <p><h3>Pocket saves URL(inks) in a zip!</h3></p>
    <ul>
      <p></p>
        <li>Tired of waisting time pulling up the wrong Paiges?</li>
        <li>Compleatly overall the distress of falling shorts?</li>
        <li>Finally, you can Levi the Guess work behind!</li>
        <li>Pocket your finds sew you'll know exactly wear to go.</li>
        <li>An app of affirmative denim:</li>
        <li> Pocket is jean yes.</li>
      </ul>
    </div>
</div>

<%= render partial: 'form', locals: { topic: @topic, bookmark: @bookmark } %>
