<h1><%= link_to "#{@bookmark.url}", @bookmark.url %></h1>

<% if policy(@bookmark).edit? %>
  <%= link_to "Edit", edit_topic_bookmark_path, class: "btn btn-warning" %>
<% end %>

<% if policy(@bookmark).destroy? %>
  <%= link_to "Delete", [@bookmark.topic, @bookmark], method: :delete, class: "btn btn-danger", data: {confirm: "You have requested to delete this bookmark.
  Please click OK to confirm."} %>
<% end %>

<!-- Brittany: Couldn't this be removed altogether since there aren't show pages for individual bookmarks? -->
