<div class="container">
  <div class="row">
    <h3>Topic | Bookmark Page</h3><br />

    <div class="col-md-8">
      <h2><%= @bookmark.url %></h2>
      <%= link_to "Edit", edit_topic_bookmark_path, class: "btn btn-warning" %>
      <%= link_to "Delete", [@bookmark.topic, @bookmark], method: :delete, class: "btn btn-danger", data: {confirm: "You have requested to delete this bookmark.
        Please click OK to confirm."} %>
      </div>
    </div>
    <br />
    <%= link_to "Back to Topic", topic_path(@bookmark.topic), class: "btn btn-primary" %>
</div>
