<!-- <div class="container">
  <div class="row">
    <h2>BOOKMARK</h2> -->
    <!-- <div class="row"> -->
    <!-- <%= link_to "Edit Bookmark", edit_topic_bookmark_path, class: "btn btn-warning btn-sm" %>
    <%= link_to "Delete Bookmark", [@bookmark.topic, @bookmark], method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "You have requested to delete this bookmark.
      Please click OK to confirm."} %>
    </div>
      <h4><%= @bookmark.url %></h4>
      <%= link_to "Back", topic_path(@bookmark.topic), class: "btn btn-primary btn-sm" %> -->
