<div class="row">
  <div class="col-md-8">
    <h5>Rocket guys for your Pocket size.</h5>
    <ul>
      <li>Eugene Shoemaker.</li>
      <li>Gene Kranz.</li>
      <li>Gene Cernan.</li>
    </ul>
    <%= form_for @topic do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "New Topic Title" %>
    </div>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
  </div>
</div>
<% end %>
