<%= form_for @topic do |f| %>
   <div class="form-group">
     <%= f.label :title %>
     <%= f.text_field :title, class: 'form-control', placeholder: "Enter topic" %>
   </div>
   <%= f.submit "Save", class: 'btn btn-success' %>
 <% end %>
