<!-- <div class="panel-body">
  <div class="box panel panel-default">
     -->
    <h1>Topics</h1>
    <p>Topic like it's hot.</p>
  <!-- </div></div> -->
  <br>
  <div class="row">
    <div class="col-md-8">
      <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to topic.name, topic %>
          </h4>
          <small>
            <%= topic.description %>
          </small>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to "Create New Topic", new_topic_path, class: 'btn btn-success' %>
    </div>
  </div>
