<div class="panel-body">
  <!-- <div class="box panel panel-default"> -->
  <h1>Topics</h1>
  <h4>Topic like it's hot.</h4>
  <!-- </div></div> -->
  <br>
  <div class="col-md-8">
    <% @topics.each do |topic| %>
    <div class="media">
      <%= link_to topic.title, topic %>
    </div>
    <% end %>
    <br>

    <%= link_to "New Topic", new_topic_path, class: "btn btn-success" %>
  </div>
