<div>
<h1>Welcome to Pocket</h1>

<p id="index-title">This seams to be the home page for Pocket.</p>
<!-- <p>This seams to be the home page for Pocket.</p> -->
<p><br>

  <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</p>
</div>

<div class="posts">Knock it like Jean Pascal.</div>
<div class="posts">Sock it like Jean-Claude Van Damme.</div>
<br>
<section>Section element in the house.</section>
