<h1>Welcome to Pocket</h1>
<p id="index-title">This seams to be the home page for Pocket.</p>

<!-- <div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>

<section>Section element in the house.</section> -->
